{{- if .Values.vault.enabled }}
apiVersion: secrets-store.csi.x-k8s.io/v1
kind: SecretProviderClass
metadata:
  name: {{ .Values.vault.secretProviderClass.name }}
  namespace: {{ .Release.Namespace }}
spec:
  provider: {{ default "vault" .Values.vault.secretProviderClass.provider }}
  parameters:
    {{- range $key, $value := .Values.vault.secretProviderClass.parameters.static }}
    {{ $key }}: {{ $value | quote }}
    {{- end }}
    {{- if .Values.vault.secretProviderClass.parameters.objects }}
    objects: |
{{ .Values.vault.secretProviderClass.parameters.objects | nindent 6 }}
    {{- end }}
  {{- if .Values.vault.secretProviderClass.secretObjects }}
  secretObjects:
{{ toYaml .Values.vault.secretProviderClass.secretObjects | indent 4 }}
  {{- end }}
{{- end }}
