apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "observability-stack.fullname" . }}-tempo-config
  labels:
    app.kubernetes.io/name: {{ include "observability-stack.name" . }}
data:
  tempo.yaml: |
    server:
      http_listen_port: 3100
      grpc_listen_port: 9095
    distributor:
      receivers:
        otlp:
          protocols:
            grpc:
            http:
    ingester:
      lifecycler:
        ring:
          kvstore:
            store: inmemory
          replication_factor: 1
    compactor:
      compaction:
        block_retention: 168h
    storage:
      trace:
        backend: local
        local:
          path: /var/tempo/traces
